@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 18px;
  color: white;
  background-color: #F0D9FF;
}

h2 h3 {
    letter-spacing: 4px;
    color: grey;
  }
  
  p {
    color: #454a4f;
    line-height: 1.5;
  }
  #container-header {
    background: #5800FF;
    width: 100%;
    height: 75px;
  }
  
  #logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    color: #F3F1F5;
  }
  
  #menu {
    font-size: 120%;
    letter-spacing: 4px;
  
  }
  
  #logo, #menu {
    line-height: 75px;
  
  }
  
  #menu li {
    float: right;
    list-style-type: none;
    margin-left: 30px;
    padding-right: 30px;
  }
  
  #menu a {
    text-decoration: none;
    color: #F3F1F5;
  }
  
  #menu a:hover {
    text-decoration: none;
    border-bottom: 3px solid #B983FF;
  }

  .main-heading {
    font-size: 28px;
  }
  
  .intro-conatainer {
    margin-bottom: 20px;
    margin-top: 50px;
    height: 200px;
  }
  
  .left-intro {
    display: inline-block;
    width: 600px;
    height: 100px;
    background: linear-gradient(#7868E6,#B8B5FF);
    text-align: center;
    margin-left: 50px;
    margin-right: 60px;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
  }
  
  .right-intro {
    display: inline-block;
    width: 600px;
    height: 100px;
    background: linear-gradient(#7868E6,#B8B5FF);
    text-align: center;
    margin-left: 10px;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
  }
  
  .booster-filler {
    float: left;
    display: inline;
    width: 400px;
    height: 500px;
    margin-left: 200px;
  }
  /*color: #a58329; gold */
  #botox-fillers, h1 {
    font-size: 22px;
    color: #a58329;
    text-align: center;
    margin-top: 20px;
  }
  
  #botox-fillers, p {
    font-size: 18px;
  }

  #question-content {
    clear: both;
    width: 600px;
    height: 150px;
    background: linear-gradient(#7868E6,#B8B5FF);
    color: #F3F1F5;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px
}

#question-content > h2 {
    color: #F3F1F5;
    margin-bottom: 10px;
    padding-top: 20px;
  }

  /* footer */

footer {
    height: 150px;
    background: linear-gradient(#5800FF,#B8B5FF);
  }
  
  .social {
    text-align: center;
  }
  
  .social > li {
    display: inline;
  }
  
  .social ion-icon {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: #F3F1F5;
  }

  /* second page - esthetics treatments */

#treatments-heading {
    text-align: center;
    padding: 30px;
    color: #a58329;
}

.heading-items {
  color: grey;
  text-align: center;
}

#treatments-img {
    display: flex;
    justify-content: center;
}

#treatments-items {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    line-height: 1.5;
    text-align: justify;
}

.type-items ul {
    padding: 20px;
    color: grey;
    text-align: center;
}

.type-items li {
    text-align: center;
    list-style-type: none;
}

/* third page price list */
.price-heading {
    font-size: 30px;
    text-align: center;
    color: #a58329;
    margin: 30px;
  }
  
  #price-container {
    margin-bottom: 250px;
  }
  
  #price-table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  #price-table td, #price-table th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #price-table tr:nth-child(even){background-color: #a58329;}
  
  #price-table tr:hover {background-color: #5800FF;}
  
  #price-table th {
    font-size: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #F0D9FF;/* bckg */
    color: grey;
  }
  
  #contact-info {
    width: 80%;
    height: 250px;
    background: linear-gradient(#7868E6,#B8B5FF);
    margin: 0 auto;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
    margin-top: 75px;
  }
  
  #contact-info .contact-text {
    float: left;
    width: 30%;
    text-align: center;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 40px;
    margin-right: 10px;
  
  }

/*  contact page */

#container-personal {
    width: 80%;
    height: 400px;
    background-color: white;
   box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
}

#container-personal img {
    margin: 75px 30px 30px 75px;
}

.first-personal, .second-personal {
    float: left;
}

.first-personal > img {
    width: 200px;
    border-radius: 20px;
}

.second-personal {
    width: 60%;
    text-align: center;
    float: right;
    margin: 120px 120px 80px 10px;
    font-size: 110%;
}

#book-consultation {
    width: 100%;
    height: 100px;
}

#book-consultation h2 {
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}
